body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    font-size: 50px;
}

.change-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.change-block__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 120px;
    background-color: #008cfa;
    border-radius: 10px;
}

.change-block__item a{
    display: block;
    font-size: 42px;
    text-decoration: unset;
    text-align: center;
    color: #fff;
}
.choise__select {
    width: 150px;
    height: 30px;
    margin-right: 20px;
}